.bubble{
  position:relative;
  display:inline-block;
  padding: 19px;
  background-color:lightblue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.bubble:before{
  content: "";
  position: absolute;
  bottom: -14px;
  padding: 7px 15px;
  right: -2px;
  background-color: lightblue;
  border-bottom-left-radius: 30px 20px;
}

.bubble:after{
  content: "";
  position: absolute;
  bottom: -14px;
  padding: 7px 15px;
  right: -12px;
  background-color: white;
  border-bottom-left-radius: 30px 20px;
}